@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica Neue";
    src: 
         url("/fonts/HelveticaNeue.tff") format("truetype") 
    

  }

  body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  }